<!DOCTYPE html>
<html lang="es">

  <head>
    <!-- SEO -->
    <meta name="country" content="VE">
    <meta name="theme-color" content="#eb7a23">
    <meta name="p:domain_verify" content="13bc8913335042a092e97e4a2e17a13d">
    <meta name="keywords" content="repuestos, carros, autopartes, sotomayor, venezuela, carabobo, valencia">
    <meta name="robots" content="index,follow">
    <meta property="og:type" content="product">
    <meta name="description" content="Repuestos Sotomayor. Venta de Repuestos para Carros y Camiones. Toyota | Chevrolet | Ford | Jeep">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Repuestos Sotomayor. Venta de Repuestos para Carros y Camiones. Toyota | Chevrolet | Ford | Jeep">
    <meta property="og:image" content="https://www.repuestos-sotomayor.com/logo.png">
    <meta property="og:title" content="Repuestos Sotomayor">
    <meta property="og:locale" content="es-VE">
    <meta property="og:url" content="https://www.repuestos-sotomayor.com/">
    <meta property="og:site_name" content="Repuestos Sotomayor">
    <meta property="site:name" content="Repuestos Sotomayor">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <link rel="shortcut icon" href="img/logos/repuestos-sotomayor-logo.ico">
    <title>Repuestos Sotomayor</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Mapbox -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js"></script>  
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css" rel="stylesheet" />  
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/agency.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Repuestos Sotomayor</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Nuestros Repuestos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Redes Sociales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header id="masthead" class="masthead">
      <div class="overlay">
        <div class="container">
          <div class="intro-text">
            <div class="intro-lead-in">Venta de Repuestos para Carros y Camiones<br>Toyota &#8226 Chevrolet &#8226 Ford &#8226 Jeep</div>
            <div class="intro-heading text-uppercase">Repuestos Sotomayor</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Más Información</a>
          </div>
        </div>
      </div>
    </header>

    <main id="main">

      <!-- Services -->
      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">¿Quiénes Somos?</h2>
              <h3 class="section-subheading text-muted">Repuestos Sotomayor. Venta de Repuestos Automovilísticos.</h3>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">¡Te lo tenemos!</h4>
              <p class="text-muted">Trabajamos con una amplia gama de repuestos para motores, trenes delanteros, transmisión, suspensión, y más!</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-star fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Calidad Garantizada</h4>
              <p class="text-muted">Ofrecemos las marcas de mejor calidad y más ecónomicas del mercado para su propio beneficio.</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-business-time fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Horarios</h4>
              <p>Abiertos todos los días desde las <strong>8:00 AM</strong> hasta las  <strong>2:00 PM</strong>.</p>
              <p class="text-muted">
                <% if ( moment().isAfter(moment('8:00am', 'h:mma')) && moment().isBefore(moment('2:00pm', 'h:mma')) )  { %>
                  <span id='open'>Abiertos</span>
                <% } else { %>
                  <span id='closed'>Cerrados</span>
                <% } %>
              </p>
            </div>
          </div>
          <div class="col-lg-12 text-center" style="margin-top: 75px;">
            <h2 class="section-heading text-uppercase">¿Donde Estamos?</h2>
            <h3 class="section-subheading text-muted" style="margin-bottom: 50px;"><a id="google-map-address" href="https://www.google.com/maps/place/Repuestos+Sotomayor+C.A/@10.1726933,-68.0125119,19z/data=!4m8!1m2!2m1!1sAvenida+Padre+Alfonzo+Cruce+con+Avenida+Michelena.+Edif.+90-64.+Sector+la+Candelaria+Valencia,+Edo.+Carabobo.!3m4!1s0x8e806711fdb4f7f3:0xdf6f059983c57db2!8m2!3d10.1726422!4d-68.0121551" target="_blank"><strong>Avenida Padre Alfonzo Cruce con Avenida Michelena. Edif. 90-64. Sector la Candelaria Valencia, Edo. Carabobo.</strong></a></h3>
          </div>
        </div>
        <div id="map-wrapper">
          <div id="map-overlay">
            <span>Use dos dedos para mover el mapa o presione el enlace de Google Maps.</span>
          </div>
          <div id='map'>
            <a href="https://www.google.com/maps/place/Repuestos+Sotomayor+C.A/@10.1726933,-68.0125119,19z/data=!4m8!1m2!2m1!1sAvenida+Padre+Alfonzo+Cruce+con+Avenida+Michelena.+Edif.+90-64.+Sector+la+Candelaria+Valencia,+Edo.+Carabobo.!3m4!1s0x8e806711fdb4f7f3:0xdf6f059983c57db2!8m2!3d10.1726422!4d-68.0121551" target="_blank"><div id='openGoogle' class="btn btn-danger"><i class="fas fa-external-link-alt"></i> Google Maps</div></a>
            <div id='centerMap' class="btn btn-light"><i class="far fa-dot-circle"></i> Centrar</div>
          </div>
        </div>
      </section>

      <!-- Portfolio Grid -->
      <section class="bg-light" id="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Nuestros Repuestos</h2>
              <h3 class="section-subheading text-muted">Toyota &#8226 Chevrolet &#8226 Ford &#8226 Jeep</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-wrapper">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                  <div class="caption-header">
                    <h4>Partes de Motores</h4>
                  </div>
                  <p class="text-muted">Empacaduras, bombas, pistones, anillos, entre otros</p>
                  <p class="more-info"><a data-toggle="modal" href="#portfolioModal1"><i class="fas fa-external-link-alt"></i></a></p></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-wrapper">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                  <div class="caption-header">
                    <h4>Tren Delanteros</h4>
                  </div>
                  <p class="text-muted">Muñones, terminales, rotulas. ¡Para cualquier marca de carros!</p>
                  <p class="more-info"><a data-toggle="modal" href="#portfolioModal2"><i class="fas fa-external-link-alt"></i></a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-wrapper">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                  <div class="caption-header">
                    <h4>Suspensión</h4>
                  </div>
                  <p class="text-muted">Amortiguadores y espirales</p>
                  <p class="more-info"><a data-toggle="modal" href="#portfolioModal3"><i class="fas fa-external-link-alt"></i></a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-wrapper">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                  <div class="caption-header">
                    <h4>Kits de Croche</h4>
                  </div>
                  <p class="text-muted">Plato o prensa, discos de croché, collarines y bombines</p>
                  <p class="more-info"><a data-toggle="modal" href="#portfolioModal4"><i class="fas fa-external-link-alt"></i></a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-wrapper">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                  <div class="caption-header">
                    <h4>Transmisión</h4>
                  </div>
                  <p class="text-muted">Kit de satelites y planetarios, piñón y corona</p>
                  <p class="more-info"><a data-toggle="modal" href="#portfolioModal5"><i class="fas fa-external-link-alt"></i></a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
              <div class="portfolio-wrapper">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                      <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                  <div class="caption-header">
                    <h4>Rodamientos</h4>
                  </div>
                  <p class="text-muted">Cubos de rueda, rolineras y estoperas</p>
                  <p class="more-info"><a data-toggle="modal" href="#portfolioModal6"><i class="fas fa-external-link-alt"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About -->
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Sobre Nosotros</h2>
              <h3 class="section-subheading text-muted">¡Todo lo que necesitas saber!</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/repuestos-sotomayor-front.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>2007-<%= moment().format('YYYY') %></h4>
                      <h4 class="subheading">Más De Una Decada De Experiencia</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>March 2011</h4>
                      <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h4>¡Se Parte
                      <br>De Nuestra
                      <br>Historia!</h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- Team -->
      <section class="bg-light" id="team">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Síguenos en <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/sotomayor.repuestos/" target="_blank">sotomayor repuestos</h2></a>
              <h3 class="section-subheading text-muted">¡Sé el primero en enterarte de nuestras últimas ofertas y promociones!</h3>
            </div>
          </div>
          <div class="row">
            <div id="instagramDiv">
              <div id="instafeed" class="gallery grid-container"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted">También respondemos cualquier duda respecto a nuestros productos a través de nuestras redes sociales.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Clients -->
      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="brand-logo col-md-3 col-sm-6">
              <a href="#contact">
                <img class="img-fluid d-block mx-auto" src="img/logos/toyota-logo.jpg" alt="">
              </a>
            </div>
            <div class="brand-logo col-md-3 col-sm-6">
              <a href="#contact">
                <img class="img-fluid d-block mx-auto" src="img/logos/chevrolet-logo.jpg" alt="">
              </a>
            </div>
            <div class="brand-logo col-md-3 col-sm-6">
              <a href="#contact">
                <img class="img-fluid d-block mx-auto" src="img/logos/ford-logo.jpg" alt="">
              </a>
            </div>
            <div class="brand-logo col-md-3 col-sm-6">
              <a href="#contact">
                <img class="img-fluid d-block mx-auto" src="img/logos/jeep-logo.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Contáctanos</h2></a>
              <h3 class="section-subheading text-muted">Si necesitas saber sobre la disponibilidad o precio de alguno de nuestros productos, o alguna otra pregunta,<br>¡No dudes en contactarnos a través de los métodos a continuación! </h3>
              <hr class="my-4">
            </div>
          </div>
        <div class="container image-background">
          <div class="row">
            <div class="col-lg-4 ml-auto text-center">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-phone fa-stack-1x fa-inverse sr-contact-1"></i>
              </span>
              <p class="contact-info">
                (0241)-835-3009<br>ó<br>(+58)-414-4416287
              </p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-envelope fa-stack-1x fa-inverse sr-contact-2"></i>
              </span>
              <p class="contact-info">
                <a href="mailto:repuestosotomayorca@gmail.com"><i class="fas fa-external-link-alt"></i>repuestosotomayorca@gmail.com</a>
              </p>
            </div>
          </div>
          <hr class="my-4"> 
          <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">¡También nos puedes dejar un mensaje a través de nuestra página web!</h2></a>
            </div>
          </div>
          <br class="my-4">
          <div id="contactUs" class="row">
            <div class="col-lg-12 ml-auto text-center">
              <form class="contact-form" action="/" method="POST">
                <div class="field name-box">
                    <input type="text" id="name" name="name" placeholder="¡Por favor déjenos saber su nombre!" required="required" data-validation-required-message="¡Por favor déjenos saber su nombre!"/>
                    <label for="name">Nombre</label>
                    <span class="ss-icon"><i class="fas fa-check"></i></span>
                </div>
        
                <div class="field name-box">
                    <input type="number" id="mobile" name="mobile" placeholder="(+58) 123-4567890" required="required" data-validation-required-message="Por favor déjenos saber su número."/>
                    <label for="mobile">Número</label>
                    <span class="ss-icon"><i class="fas fa-check"></i></span>
                </div>
        
                <div class="field email-box">
                    <input type="email" id="email" name="email" placeholder="ejemplo@email.com" required="required" data-validation-required-message="Por favor déjenos saber su email."/>
                    <label for="email">Email</label>
                    <span class="ss-icon"><i class="fas fa-check"></i></span>
                </div>
        
                <div class="field msg-box">
                    <textarea id="msg" rows="4" name="message" placeholder="Su mensaje aquí:" required="required" data-validation-required-message="Su mensaje aquí:"/></textarea>
                    <label for="msg">Mensaje</label>
                    <span class="ss-icon text-area-check"><i class="fas fa-check"></i></span>
                </div>
        
                <input class="button" type="submit" value="Send" />
              </form>
            </div>
          </div>
          <br>
        </div>
      </section>


      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Repuestos Sotomayor <%= moment().format('YYYY'); %> </span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/sotomayor.repuestos/" target="_blank">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/sotomayor.repuestos" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="https://robertmolinamir.firebaseapp.com/">Página Web desarrollada por Robert Molina</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- Portfolio Modals -->

      <!-- Modal 1 -->
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Partes de Motores</h2>
                    <p class="item-intro text-muted">Empacaduras, bombas, pistones, anillos, entre otros.</p>
                    <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                    <p>Empacaduras, bombas, pistones, anillos, entre otros.</p>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 2 -->
      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Tren Delanteros</h2>
                    <p class="item-intro text-muted">Muñones, terminales, rotulas. ¡Para cualquier marca de carros!</p>
                    <img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt="">
                    <p>Muñones, terminales, rotulas. ¡Para cualquier marca de carros!</p>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 3 -->
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Suspensión</h2>
                    <p class="item-intro text-muted">Amortiguadores y espirales.</p>
                    <img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt="">
                    <p>Amortiguadores y espirales.</p>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 4 -->
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Kits de Croche</h2>
                    <p class="item-intro text-muted">Plato o prensa, discos de croché, collarines y bombines.</p>
                    <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">
                    <p>Plato o prensa, discos de croché, collarines y bombines.</p>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 5 -->
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Transmisión</h2>
                    <p class="item-intro text-muted">Kit de satelites y planetarios, piñón y corona.</p>
                    <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
                    <p>Kit de satelites y planetarios, piñón y corona.</p>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 6 -->
      <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">Rodamientos</h2>
                    <p class="item-intro text-muted">Cubos de rueda, rolineras y estoperas.</p>
                    <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
                    <p>Cubos de rueda, rolineras y estoperas.</p>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alert Modals -->
      <% if (error && error.length > 0) { %>
      <div id="alert-modal">
        <input id="modal" class="alert-modal-check" type="checkbox" checked/>
        <div class="alert-modal alert-modal-danger">
          <label for="modal" class="alert-modal-btn alert-modal-close"><i class="fa fa-times fa-2x"></i></label>
          <h2>Error.</h2>
          <hr />
          <p><%= error %></p>
          <label for="modal" class="alert-modal-btn btn btn-danger btn-lg">Aceptar</label>
        </div>
      <div id="screen-shade"></div>
      </div>
      <script>
        document.body.style.overflow = 'hidden';
        let alertButtons = document.getElementsByClassName('alert-modal-btn');
        for(let i = 0; i < alertButtons.length; i++) {
          alertButtons[i].addEventListener("click", function(e) {
            e.preventDefault;
            document.body.style.overflow = 'inherit';
            document.getElementById('alert-modal').style.background = 'transparent';
          }, false);
        }
      </script>
      <% } else if(success && success.length > 0) { %>
      <div id="alert-modal">
        <input id="modal" class="alert-modal-check" type="checkbox" checked/>
        <div class="alert-modal alert-modal-success">
          <label for="modal" class="alert-modal-close"><i class="fa fa-times fa-2x"></i></label>
          <h2>¡Éxito!</h2>
          <hr />
          <p><%= success %></p>
          <label for="modal" class="alert-modal-btn btn btn-success btn-lg">Aceptar</label>
        </div>
      <div id="screen-shade"></div>
      </div>
      <script>
        document.body.style.overflow = 'hidden';
        let alertButtons = document.getElementsByClassName('alert-modal-btn');
        for(let i = 0; i < alertButtons.length; i++) {
          alertButtons[i].addEventListener("click", function(e) {
            e.preventDefault;
            document.body.style.overflow = 'inherit';
            document.getElementById('alert-modal').style.background = 'transparent';
          }, false);
        }
      </script>

      <% } %>

    </main>

    <a id="back-to-top" class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.js"></script>

    <!-- Mapbox -->
    <script>
      // mapbox-gl-multitouch
      // Two-finger panning for mapbox-gl-js
      class MultiTouch {
        constructor() {
          this.state = {
            panStart: { x: 0, y: 0 },
            scale: 1,
          };
          this.touchStart = this.touchStart.bind(this);
          this.touchMove = this.touchMove.bind(this);
        }
      
        touchStart(event) {
          if (event.touches.length !== 2) return;
          event.stopImmediatePropagation();
          event.preventDefault();
      
          let x = 0;
          let y = 0;
      
          [].forEach.call(event.touches, (touch) => {
            x += touch.screenX;
            y += touch.screenY;
          });
      
          this.state.panStart.x = x / event.touches.length;
          this.state.panStart.y = y / event.touches.length;
        }
      
        touchMove(event) {
          if (event.touches.length !== 2) return;
          if (this.state.scale === event.scale) {
            event.stopImmediatePropagation();
            event.preventDefault();
          }
      
          this.state.scale = event.scale;
      
          let x = 0;
          let y = 0;
      
          [].forEach.call(event.touches, (touch) => {
            x += touch.screenX;
            y += touch.screenY;
          });
      
          const movex = (x / event.touches.length) - this.state.panStart.x;
          const movey = (y / event.touches.length) - this.state.panStart.y;
      
          this.state.panStart.x = x / event.touches.length;
          this.state.panStart.y = y / event.touches.length;
          this.map.panBy([movex / -1, movey / -1], { animate: false });
        }
      
        onAdd(map) {
          this.map = map;
          this.container = document.createElement('div');
          this.map.getContainer().addEventListener('touchstart', this.touchStart, false);
          this.map.getContainer().addEventListener('touchmove', this.touchMove, false);
          if ('ontouchstart' in document.documentElement) map.dragPan.disable();
          return this.container;
        }
      
        onRemove() {
          this.map.getContainer().removeEventListener('touchstart', this.touchStart);
          this.map.getContainer().removeEventListener('touchmove', this.touchMove);
          this.map = undefined;
        }
      }
      
      mapboxgl.accessToken = "pk.eyJ1Ijoicm9iZXJ0MDMxMCIsImEiOiJjanFpZjNmZnMwZzFqNDJyMGdmaTJwYWtpIn0.bUv0BRK5nRmmYMp61buDUg";
      // var bounds = [
      //     [-68.06214,10.14743], // Southwest coordinates
      //     [-67.96214,10.19743]  // Northeast coordinates
      // ];

      // If Mobile then Mapbox is not interactive
      // let interactivity;
      // isMobile ? interactivity = false : interactivity = true;

      /* Map: This represents the map on the page. */
      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v10",
        zoom:14.0,
        center: [-68.01214,10.17243],
        // interactive: interactivity
        // maxBounds: bounds // Sets bounds as max
      });

      map.on("load", function () {
        /* Image: An image is loaded and added to the map. */
        map.loadImage("https://i.imgur.com/MK4NUzI.png", function(error, image) {
            if (error) throw error;
            map.addImage("custom-marker", image);
            /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
            map.addLayer({
              id: "markers",
              type: "symbol",
              /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
              source: {
                type: "geojson",
                data: {
                  type: "FeatureCollection",
                  features:[{"type":"Feature","geometry":{"type":"Point","coordinates":["-68.0121437815","10.1728411"]}}]}
              },
              layout: {
                "icon-image": "custom-marker",
              }
            });
          });
          
          map.addControl(new mapboxgl.NavigationControl());

          // Add zoom and rotation controls to the map.
          if (isMobile) {
            map.addControl(new MultiTouch()); 
          } else {
            map.scrollZoom.disable();
          }

          // Center the map on the coordinates.
          document.getElementById("centerMap").addEventListener('click', function (e) {
            map.flyTo({center: ["-68.0121437815","10.1728411"]});
          });
      });

      // Mobile config
      if (isMobile) {
        // Setting up heights for media devices
        document.getElementById("main").style.height = document.getElementById("main").clientHeight;
        document.getElementById("masthead").style.height = document.getElementById("masthead").clientHeight;
        document.getElementById("map").style.height = document.getElementById("map").clientHeight;
        
        // Mapbox overlay functionality for multitouch events

        // Set Canvas ID
        let canvas = document.getElementsByClassName('mapboxgl-canvas')[0];
        canvas.setAttribute("id", "mapboxgl-canvas");

        // Touch Point cache
        let tpCache = new Array();

        // Fade In and Out functions
        function fadeOut(id,val){ if(isNaN(val)){ val = 9;}
        document.getElementById(id).style.opacity='0.'+val;
          //For IE
          document.getElementById(id).style.filter='alpha(opacity='+val+'0)';
          if(val>0){
            val--;
            setTimeout('fadeOut("'+id+'",'+val+')',90);
          }else{return;}
          }

        function fadeIn(id,val){
          // ID of the element to fade, Fade value[min value is 0]
          if(isNaN(val)){ val = 0;}
          document.getElementById(id).style.opacity='0.'+val;
          //For IE
          document.getElementById(id).style.filter='alpha(opacity='+val+'0)';
          if(val<9){
            val++;
            setTimeout('fadeIn("'+id+'",'+val+')',90);
          }else{return;}
        }

        function update_background(ev) {
          // Change background overlay based on the number simultaneous touches
          switch (ev.targetTouches.length) {
            case 1:
              // Single tap
              console.log(ev.targetTouches.length);
              document.getElementById('map-overlay').style.display = "unset";
              setTimeout(function() {
                if (ev.targetTouches.length === 1) {
                  fadeIn('map-overlay',9);
                }
              }, 500);
              break;
            case 2:
              // Two simultaneous touches     
              document.getElementById('map-overlay').style.display = "none";
              fadeOut('map-overlay',0)
              break;
            default:
              // More than two simultaneous touches    
              document.getElementById('map-overlay').style.display = "none";
              fadeOut('map-overlay',0)
          }
        } 
        
        function start_handler(ev) {
          // If the user makes simultaneious touches, the browser will fire a
          // separate touchstart event for each touch point. Thus if there are
          // three simultaneous touches, the first touchstart event will have
          // targetTouches length of one, the second event will have a length
          // of two, and so on.
          ev.preventDefault();
          // Cache the touch points for later processing of 2-touch pinch/zoom
          if (ev.targetTouches.length == 2) {
            for (var i=0; i < ev.targetTouches.length; i++) {
              tpCache.push(ev.targetTouches[i]);
            }
          }
          update_background(ev);
        }
        
        function end_handler(ev) {
          ev.preventDefault();
          if (ev.targetTouches.length == 0) {
            // Restore background to original values
            document.getElementById('map-overlay').style.display = "none";
            fadeOut('map-overlay',0);
          }
        }
        
        function set_handlers(name) {
          // Install event handlers for the given element
          let el=document.getElementById(name);
          el.ontouchstart = start_handler;
          // Use same handler for touchcancel and touchend
          el.ontouchcancel = end_handler;
          el.ontouchend = end_handler;
        }
        
        function initMapOverlay() {
          set_handlers("mapboxgl-canvas");
        }

        initMapOverlay();  
      }

    </script>

    <script>
    (function() {
        var e;
        e = function() {
                function e(e, t) {
                    var n, r;
                    this.options = {
                        target: "instafeed",
                        get: "popular",
                        resolution: "thumbnail",
                        sortBy: "none",
                        links: !0,
                        mock: !1,
                        useHttp: !1
                    };
                    if (typeof e == "object")
                        for (n in e) r = e[n], this.options[n] = r;
                    this.context = t != null ? t : this, this.unique = this._genKey();
                }
                return e.prototype.hasNext = function() {
                    return typeof this.context.nextUrl == "string" && this.context.nextUrl.length > 0;
                }, e.prototype.next = function() {
                    return this.hasNext() ? this.run(this.context.nextUrl) : !1;
                }, e.prototype.run = function(t) {
                    var n, r, i;
                    if (typeof this.options.clientId != "string" && typeof this.options.accessToken != "string") throw new Error("Missing clientId or accessToken.");
                    if (typeof this.options.accessToken != "string" && typeof this.options.clientId != "string") throw new Error("Missing clientId or accessToken.");
                    return this.options.before != null && typeof this.options.before == "function" && this.options.before.call(this), typeof document != "undefined" && document !== null && (i = document.createElement("script"), i.id = "instafeed-fetcher", i.src = t || this._buildUrl(), n = document.getElementsByTagName("head"), n[0].appendChild(i), r = "instafeedCache" + this.unique, window[r] = new e(this.options, this), window[r].unique = this.unique), !0;
                }, e.prototype.parse = function(e) {
                    var t, n, r, i, s, o, u, a, f, l, c, h, p, d, v, m, g, y, b, w, E, S, x, T, N, C, k, L, A, O, M, _, D;
                    if (typeof e != "object") {
                        if (this.options.error != null && typeof this.options.error == "function") return this.options.error.call(this, "Invalid JSON data"), !1;
                        throw new Error("Invalid JSON response");
                    }
                    if (e.meta.code !== 200) {
                        if (this.options.error != null && typeof this.options.error == "function") return this.options.error.call(this, e.meta.error_message), !1;
                        throw new Error("Error from Instagram: " + e.meta.error_message);
                    }
                    if (e.data.length === 0) {
                        if (this.options.error != null && typeof this.options.error == "function") return this.options.error.call(this, "No images were returned from Instagram"), !1;
                        throw new Error("No images were returned from Instagram");
                    }
                    this.options.success != null && typeof this.options.success == "function" && this.options.success.call(this, e), this.context.nextUrl = "", e.pagination != null && (this.context.nextUrl = e.pagination.next_url);
                    if (this.options.sortBy !== "none") {
                        this.options.sortBy === "random" ? M = ["", "random"] : M = this.options.sortBy.split("-"), O = M[0] === "least" ? !0 : !1;
                        switch (M[1]) {
                            case "random":
                                e.data.sort(function() {
                                    return .5 - Math.random();
                                });
                                break;
                            case "recent":
                                e.data = this._sortBy(e.data, "created_time", O);
                                break;
                            case "liked":
                                e.data = this._sortBy(e.data, "likes.count", O);
                                break;
                            case "commented":
                                e.data = this._sortBy(e.data, "comments.count", O);
                                break;
                            default:
                                throw new Error("Invalid option for sortBy: '" + this.options.sortBy + "'.");
                        }
                    }
                    if (typeof document != "undefined" && document !== null && this.options.mock === !1) {
                        m = e.data, A = parseInt(this.options.limit, 10), this.options.limit != null && m.length > A && (m = m.slice(0, A)), u = document.createDocumentFragment(), this.options.filter != null && typeof this.options.filter == "function" && (m = this._filter(m, this.options.filter));
                        if (this.options.template != null && typeof this.options.template == "string") {
                            f = "", d = "", w = "", D = document.createElement("div");
                            for (c = 0, N = m.length; c < N; c++) {
                                h = m[c], p = h.images[this.options.resolution];
                                if (typeof p != "object") throw o = "No image found for resolution: " + this.options.resolution + ".", new Error(o);
                                E = p.width, y = p.height, b = "square", E > y && (b = "landscape"), E < y && (b = "portrait"), v = p.url, l = window.location.protocol.indexOf("http") >= 0, l && !this.options.useHttp && (v = v.replace(/https?:\/\//, "//")), d = this._makeTemplate(this.options.template, {
                                    model: h,
                                    id: h.id,
                                    link: h.link,
                                    type: h.type,
                                    image: v,
                                    width: E,
                                    height: y,
                                    orientation: b,
                                    caption: this._getObjectProperty(h, "caption.text"),
                                    likes: h.likes.count,
                                    comments: h.comments.count,
                                    location: this._getObjectProperty(h, "location.name")
                                }), f += d;
                            }
                            D.innerHTML = f, i = [], r = 0, n = D.childNodes.length;
                            while (r < n) i.push(D.childNodes[r]), r += 1;
                            for (x = 0, C = i.length; x < C; x++) L = i[x], u.appendChild(L);
                        } else
                            for (T = 0, k = m.length; T < k; T++) {
                                h = m[T], g = document.createElement("img"), p = h.images[this.options.resolution];
                                if (typeof p != "object") throw o = "No image found for resolution: " + this.options.resolution + ".", new Error(o);
                                v = p.url, l = window.location.protocol.indexOf("http") >= 0, l && !this.options.useHttp && (v = v.replace(/https?:\/\//, "//")), g.src = v, this.options.links === !0 ? (t = document.createElement("a"), t.href = h.link, t.appendChild(g), u.appendChild(t)) : u.appendChild(g);
                            }
                        _ = this.options.target, typeof _ == "string" && (_ = document.getElementById(_));
                        if (_ == null) throw o = 'No element with id="' + this.options.target + '" on page.', new Error(o);
                        _.appendChild(u), a = document.getElementsByTagName("head")[0], a.removeChild(document.getElementById("instafeed-fetcher")), S = "instafeedCache" + this.unique, window[S] = void 0;
                        try {
                            delete window[S];
                        } catch (P) {
                            s = P;
                        }
                    }
                    return this.options.after != null && typeof this.options.after == "function" && this.options.after.call(this), !0;
                }, e.prototype._buildUrl = function() {
                    var e, t, n;
                    e = "https://api.instagram.com/v1";
                    switch (this.options.get) {
                        case "popular":
                            t = "media/popular";
                            break;
                        case "tagged":
                            if (!this.options.tagName) throw new Error("No tag name specified. Use the 'tagName' option.");
                            t = "tags/" + this.options.tagName + "/media/recent";
                            break;
                        case "location":
                            if (!this.options.locationId) throw new Error("No location specified. Use the 'locationId' option.");
                            t = "locations/" + this.options.locationId + "/media/recent";
                            break;
                        case "user":
                            if (!this.options.userId) throw new Error("No user specified. Use the 'userId' option.");
                            t = "users/" + this.options.userId + "/media/recent";
                            break;
                        default:
                            throw new Error("Invalid option for get: '" + this.options.get + "'.");
                    }
                    return n = e + "/" + t, this.options.accessToken != null ? n += "?access_token=" + this.options.accessToken : n += "?client_id=" + this.options.clientId, this.options.limit != null && (n += "&count=" + this.options.limit), n += "&callback=instafeedCache" + this.unique + ".parse", n;
                }, e.prototype._genKey = function() {
                    var e;
                    return e = function() {
                        return ((1 + Math.random()) * 65536 | 0).toString(16).substring(1);
                    }, "" + e() + e() + e() + e();
                }, e.prototype._makeTemplate = function(e, t) {
                    var n, r, i, s, o;
                    r = /(?:\{{2})([\w\[\]\.]+)(?:\}{2})/, n = e;
                    while (r.test(n)) s = n.match(r)[1], o = (i = this._getObjectProperty(t, s)) != null ? i : "", n = n.replace(r, function() {
                        return "" + o;
                    });
                    return n;
                }, e.prototype._getObjectProperty = function(e, t) {
                    var n, r;
                    t = t.replace(/\[(\w+)\]/g, ".$1"), r = t.split(".");
                    while (r.length) {
                        n = r.shift();
                        if (!(e != null && n in e)) return null;
                        e = e[n];
                    }
                    return e;
                }, e.prototype._sortBy = function(e, t, n) {
                    var r;
                    return r = function(e, r) {
                        var i, s;
                        return i = this._getObjectProperty(e, t), s = this._getObjectProperty(r, t), n ? i > s ? 1 : -1 : i < s ? 1 : -1;
                    }, e.sort(r.bind(this)), e;
                }, e.prototype._filter = function(e, t) {
                    var n, r, i, s, o;
                    n = [], r = function(e) {
                        if (t(e)) return n.push(e);
                    };
                    for (i = 0, o = e.length; i < o; i++) s = e[i], r(s);
                    return n;
                }, e;
            }(),
            function(e, t) {
                return typeof define == "function" && define.amd ? define([], t) : typeof module == "object" && module.exports ? module.exports = t() : e.Instafeed = t();
            }(this, function() {
                return e;
            });
    }).call(this);

    // Customize instagram template script
    $(document).ready(function() {
        var userFeed = new Instafeed({
            get: 'user',
            userId: '3179604405',
            limit: 20,
            resolution: 'standard_resolution',
            accessToken: '3179604405.10e0822.94dd8af741904d079c822145ce38afe9',
            sortBy: 'most-recent',
            // click opens up image
            template: '<div class="item grow"><a href="{{image}}" title="{{caption}}" target="_blank"><img src="{{image}}" alt="{{caption}}" class="mx-auto"/></a></div>',
            // click opens up link
            // template: '<div class="col-md-4 instaimg zoom"><a href="{{link}}" title="{{caption}}" target="_blank"><img src="{{image}}" alt="{{caption}}" class="img-fluid img-responsive card-img-top"/></a></div>',
        });
        userFeed.run();
        // This will create a single gallery from all elements that have class "gallery-item"
        $('.gallery').magnificPopup({
            type: 'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
        });
    });
    $('.lightbox').magnificPopup({
        fixedContentPos: true,
        callbacks: {
            beforeOpen: function() {
                $('html').addClass('mfp-helper');
            },
            close: function() {
                $('html').removeClass('mfp-helper');
            }
        }
    });
    </script>
    
  </body>

</html>
